<h1>Assignment Week 3 from Capstone Project</h1>

In [83]:
import pandas as pd 
import numpy as np

<h2>Scrape Wikipedia</h2>

In [96]:
#import wikipedia table and save as pandas dataframe
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wiki = pd.read_html(url)
df = pd.DataFrame(wiki[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   180 non-null    object
 1   Borough       180 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [97]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [98]:
#remove Not assigned Boroughs
df = df[df['Borough'] != "Not assigned"]
df.reset_index(drop=True,inplace=True)

In [99]:
df['Postal Code'].value_counts().max()

1

There seem to be no double values of postal codes as described in the assignment. Therefore, we don't need to aggregate
There are also no rows where there is no Neighborhood but a Borough

In [89]:
#print number of rows
df.shape

(103, 3)

In [100]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<hr>
<h2>Long/Lat data for Neighborhoods</h2>

In [ ]:
#Could not get data from geocodes --> use provided csv

In [103]:
#read csv file to pandas dataframe
geodata = pd.read_csv("Geospatial_Coordinates.csv")
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [108]:
#merge dataframes based on postal code column
toronto = pd.merge(df, geodata, on='Postal Code')
toronto.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

<hr>
<h2>Neighborhood Clustering</h2>